body
{
    margin:0;
}

ul
{
    margin:0;
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
    border: 2px green solid;
    li
    {
        margin:0;
        padding: 0 10px 0 5px; 
        list-style: none;
        a
        {
            margin:0;
            text-decoration: none;
            font-size: 20;
            font-weight: bold;
            color:black;
        }   
    }
}

